[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idna-ssl = {version = "*", markers = "python_version == '<3.7'"}
aiohttp = "*"
opencv-python = "*"
spidev = "*"
slushengine = {editable = true,git = "https://github.com/Roboteurs/slushengine.git"}


[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"
